<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>ShowById</title>
</head>
<body>

<p th:text="${book.getName() + ', ' + book.getAuthor()}">VALUE</p>
<p th:text="${'Year: ' + book.getYear()}">VALUE</p>
<p th:text="${book.getId()}">VALUE</p>
<div th:switch="${book.getStatus().name()}">
    <p th:case="'IDLE'" th:text="${book.getStatus()}" th:styleappend="'color: green'">D</p>
    <p th:case="'TAKEN'" th:text="${book.getStatus()}" th:styleappend="'color: yellow'">D1</p>
    <p th:case="'UNAVAILABLE'" th:text="${book.getStatus()}" th:styleappend="'color: red'">D2</p>
    <p th:case="*">UNKNOWN STATUS</p>
</div>

<br/>
<a th:href="@{/books/{id}/edit(id=${book.getId()})}">Edit</a>
<br/>
<a href="/books/show">Back to books list</a>
<br/>
<a href="/home">Home</a>


<body/>
<html/>